
@{
    ViewBag.Title = "Contact_us";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Contact_us.css">
</head>

<body>

    @{
        Html.RenderPartial("Header");
    }

    <div class="contact-area">
        <div class="container contact-us">
            <div class="back-section">
                <div class="row">
                    <div class="col-md-7">
                        <div class="contact-info">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Full Name">
                                    <label for="name" class="form-label">Name</label>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                                    <label for="email" class="form-label">Email</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject" class="form-label">Subject</label>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control form-control-textarea" id="message"
                                              rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="review">Review</label>
                                    <textarea class="form-control form-control-textarea" id="review"
                                              rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="location">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.900966904653!2d90.38828391429689!3d23.750910694675326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8bcd681372b%3A0x5c2b8755e4327004!2sBashundhara%20City%20Shopping%20Complex!5e0!3m2!1sen!2sbd!4v1598518526026!5m2!1sen!2sbd"
                                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0"></iframe>
                            <br>
                            <br>
                            <p><i class="fas fa-phone-alt pr-2"></i>+880123456789</p>
                            <p><i class="far fa-envelope-open pr-2"></i>tryatutor@gmail.com</p>
                            <div class="contact-icons d-flex">
                                <div class="social fb  mr-1 ml-1 d-flex justify-content-center align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </div>
                                <div class="social twitter  mr-1 ml-1 d-flex justify-content-center align-items-center">
                                    <a href="#" class="fab fa-twitter"></a>
                                </div>
                                <div class="social google  mr-1 ml-1 d-flex justify-content-center align-items-center">
                                    <a href="#" class="fab fa-google"></a>
                                </div>
                                <div class="social linked-in  mr-1 ml-1 d-flex justify-content-center align-items-center">
                                    <a href="#" class="fab fa-linkedin-in"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                        <a class="send-us-button" href="">Send Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        Html.RenderPartial("Footer");
    }

</body>

</html>

